<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pioneer3dx">
  
  <xacro:include filename="$(find gazebo_plugins)/test/diff_drive/xacro/p3dx/pioneer3dx_body.xacro"/>
  <xacro:pioneer3dx_body />
  
  <xacro:include filename="$(find gazebo_plugins)/test/diff_drive/xacro/p3dx/pioneer3dx_drive.xacro"/>
  <xacro:pioneer3dx_drive />

  <xacro:include filename="$(find gazebo_plugins)/test/diff_drive/xacro/laser/hokuyo.xacro"/>
  <xacro:front_laser xyz="0.16 0 0.1" rpy="0 0 0"/>
  
</robot>
