<launch>

  <!-- start gazebo with an simple world -->
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find gazebo_ros)/launch/demo_worlds/simple_office2.world" 
	respawn="false" output="screen"/>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

</launch>
