<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="throttled" default="true"/>

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>


  <!-- start empty world -->

  <group if="$(arg paused)">
    <group if="$(arg throttled)">
      <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-u $(find gazebo_ros)/launch/demo_worlds/wg_collada_throttled.world" respawn="false" output="screen"/>
    </group>
    <group unless="$(arg throttled)">
      <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-u $(find gazebo_ros)/launch/demo_worlds/wg_collada.world" respawn="false" output="screen"/>
    </group>
  </group>
  <group unless="$(arg paused)">
    <group if="$(arg throttled)">
      <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find gazebo_ros)/launch/demo_worlds/wg_collada_throttled.world" respawn="false" output="screen"/>
    </group>
    <group unless="$(arg throttled)">
      <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find gazebo_ros)/launch/demo_worlds/wg_collada.world" respawn="false" output="screen"/>
    </group>
  </group>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

</launch>
