<launch>

  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />
  <arg name="gui" default="true"/>

  <!-- start empty world -->
  <node name="gazebo" pkg="gazebo_ros" type="debug" args="$(find gazebo_ros)/launch/demo_worlds/empty.world" respawn="false" output="screen"/>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>

  <!-- add heightmap version wg walls-->
  <param name="wg_walls"      textfile="$(find gazebo_ros)/objects/wg_walls.model" />
  <node name="xml2factor_wg_walls" pkg="gazebo_ros" type="spawn_model" args="-gazebo -param wg_walls -x -25.65 -y -25.65 -model wg_walls" respawn="false" output="screen" />

</launch>
