<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find gazebo_ros_control_examples)/models/rr_manipulator.urdf.xacro'" />

  <rosparam ns="rr/ros_control">
    joint1_position_controller:
      type: effort_controllers/JointPositionController
      joint: joint1
      pid: {p: 10.0, i: 0.01, d: 1.0}
    joint2_position_controller:
      type: effort_controllers/JointPositionController
      joint: joint2
      pid: {p: 10.0, i: 0.01, d: 1.0}
  </rosparam>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model rr -param robot_description"/>

</launch>
