<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find ros_control_gazebo_tests)/models/rr_manipulator.urdf.xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
    <!--rosparam param="source_list">[joint_states]</rosparam-->
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz">
    <!--rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/-->
  </node>

</launch>
