<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --check-order '$(find gazebo_plugins)/test/diff_drive/xacro/pioneer3dx/pioneer3dx.xacro'" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0"/>
      <param name="tf_prefix" type="string" value=""/>
  </node>


</launch>
