<?xml version="1.0"?> 
<!-- Revolute-Revolute Manipulator -->
<robot name="rr_manipulator"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">

  <xacro:property name="PI" value="3.1415926535897931"/>

  <gazebo>
    <plugin name="ros_control" filename="libros_control_gazebo_plugin.so">
      <ns>rr/ros_control</ns>
      <robotSimType>ros_control_gazebo_tests/RobotSimRR</robotSimType>
      <controlPeriod>0.001</controlPeriod>
    </plugin>

    <material name="red">Gazebo/Red</material>
    <material name="blue">Gazebo/Blue</material>
  </gazebo>

  <link name="world"/>

  <link name="link1">

    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="red"/>
    </collision>

    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="red"/>

    </visual>

    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>

  <link name="link2">

    <collision>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry> 
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="blue"/>
    </collision>

    <visual>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry> 
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <inertial>
      <origin xyz="0 0 1.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>

  <link name="link3">

    <collision>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry> 
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="blue"/>
    </collision>

    <visual>
      <origin xyz="0 0 0.45" rpy="0 0 0"/>
      <geometry> 
	<box size="0.1 0.1 1"/>
      </geometry>
      <material name="blue"/>
    </visual>

    <inertial>
      <origin xyz="0 0 1.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>

  <gazebo reference="link3">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="link1"/>
    <!--origin xyz="0 0 1" rpy="${PI} 0 0"/-->
  </joint>

  <joint name="joint1" type="continuous">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0.1 0.9" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="joint2" type="continuous">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0.1 0.9" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

</robot>
